@model WebBanHangOnline.Models.EF.Product
@{
    ViewBag.Title = "Cập nhật sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader {
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Product" class="nav-link">Sản phẩm</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Product/Edit" class="nav-link">Cập nhật</a>
        </li>
    </ul>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin cập nhật sản phẩm</h3>
        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.CreatedDate)
                    @Html.HiddenFor(x => x.Image)
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin chung</a></li>
                                @*<li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Hình ảnh</a></li>*@
                                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">SEO</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="activity">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Tên sản phẩm</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.Title, new
                                            {
                                                @class = "form-control",
                                                @placeholder = "Tên sản phẩm"
                                            })
                                            @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Alias</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.Alias, new
                                            {
                                                @class = "form-control",
                                                @placeholder = "Alias"
                                            })
                                            @Html.ValidationMessageFor(x => x.Alias, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">SKU</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.ProductCode, new
                                            {
                                                @class = "form-control",
                                                @placeholder = "ProductCode"
                                            })
                                            @Html.ValidationMessageFor(x => x.ProductCode, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleInputPassword1" class="col-sm-2 col-form-label">Danh mục</label>
                                        <div class="col-sm-10">
                                            @Html.DropDownListFor(x => x.ProductCategoryID, ViewBag.ProductCategoryID as SelectList, "Chọn danh mục sản phẩm", new
                                            {
                                               @class = "form-control"
                                            })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Mô tả</label>
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(x => x.Description, new
                                            {
                                                @class = "form-control",
                                                @placeholder = "Mô tả"
                                            })
                                            @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">Chi tiết sản phẩm</label>
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(x => x.Detail, new
                                            {
                                                @class = "form-control",
                                                @id = "txtDetail"
                                            })
                                            @Html.ValidationMessageFor(x => x.Detail, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label for="inputName" class="col-form-label">Số lượng</label>
                                                @Html.TextBoxFor(x => x.Quantity, new
                                                {
                                                    @class = "form-control"
                                                })
                                                @Html.ValidationMessageFor(x => x.Quantity, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label for="inputName" class="col-form-label">Giá</label>
                                                @*<input type='text' name="demoPrice" class="auto" value="1234.56" data-a-sep="." data-a-dec="," data-a-sign="€ " />*@
                                                @Html.TextBoxFor(x => x.Price, new
                                                {
                                                    @class = "form-control"
                                                })
                                                @Html.ValidationMessageFor(x => x.Price, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label for="inputName" class="col-form-label">Giá khuyến mãi</label>
                                                @Html.TextBoxFor(x => x.PriceSale, new
                                                {
                                                    @class = "form-control"
                                                })
                                                @Html.ValidationMessageFor(x => x.PriceSale, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <label for="inputName" class="col-form-label">Giá nhập</label>
                                                @Html.TextBoxFor(x => x.OriginalPrice, new
                                                {
                                                    @class = "form-control"
                                                })
                                                @Html.ValidationMessageFor(x => x.PriceSale, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    @Html.CheckBoxFor(x => x.IsActive, new
                                                    {
                                                       @class = "custom-control-input",
                                                       @id = "IsActiveCheckbox",
                                                       @checked = "checked"
                                                    })
                                                    <label for="IsActiveCheckbox" class="custom-control-label">Hiển thị</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    @Html.CheckBoxFor(x => x.IsHot, new
                                                    {
                                                        @class = "custom-control-input",
                                                        @id = "IsHotCheckbox"
                                                    })
                                                    <label for="IsHotCheckbox" class="custom-control-label">Hot</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    @Html.CheckBoxFor(x => x.IsFeature, new
                                                    {
                                                        @class = "custom-control-input",
                                                        @id = "IsFeatureCheckbox"
                                                    })
                                                    <label for="IsFeatureCheckbox" class="custom-control-label">Nổi bật</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    @Html.CheckBoxFor(x => x.IsSale, new
                                                    {
                                                        @class = "custom-control-input",
                                                        @id = "IsSaleCheckbox"
                                                    })
                                                    <label for="IsSaleCheckbox" class="custom-control-label">Khuyến mãi</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="settings">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-2 col-form-label">SEO Title</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.SeoTitle, new
                                            {
                                                @class = "form-control",
                                                @placeholder = "SEO Title"
                                            })
                                            @Html.ValidationMessageFor(x => x.SeoTitle, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail" class="col-sm-2 col-form-label">Seo Keywords</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.SeoKeywords, new
                                            {
                                                @class = "form-control",
                                                @placeholder = "Seo Keywords"
                                            })
                                            @Html.ValidationMessageFor(x => x.SeoKeywords, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail" class="col-sm-2 col-form-label">Seo Description</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.SeoDescription, new
                                            {
                                                @class = "form-control",
                                                @placeholder = "Seo Description"
                                            })
                                            @Html.ValidationMessageFor(x => x.SeoDescription, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->

                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Cập nhật</button>
                            <a href="/admin/Product" class="btn btn-danger">Quay lại</a>
                        </div>
                    </div>
                    <!-- /.card-footer-->
                }
            </div>
        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section scripts{
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('txtDetail', {
                customConfig: '/content/ckeditor/config.js',
                extraAllowedContent: 'span'
            });
        });
    </script>
}




